# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
env/
build/
dist/

.DS_Store

# secret key files
ga-api-test-pramod-bdbcfaf2b1cc.json

# config file
config.yaml